.search-area {
    margin: 0px auto;
    width: 100vw;
    height: 80vh;
    background-image: linear-gradient(90deg,
        #f5f3ef 50%,
        #F6F4F0 50%, #F6F4F0 66.6%,
        #F0EFE9 66.6%, #F0EFE9 83.26%,
        #F6F4F0 83.26%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 90px;
}

.search {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

.search-input{
    margin-top: 30px;
}

.images {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45vw;
    height: 400px;
}

.search h1 {
    font-size: 4rem;
}

.search p {
    font-size: 1.6rem;
}

.images img {
    width: 250px;
    border-radius: 8px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.images img.first-book {
    z-index: 3;
    position: relative;
    top: 0;
    left: 100px;
}

.images img.second-book {
    z-index: 2;
    position: relative;
}

.images img.third-book {
    z-index: 1;
    position: relative;
    top: 0;
    left: -80px;
}

img {
    object-fit: contain;
}

.book-area {
    background-color: #FFFFFF;
    width: 100vw;
    margin: 20px auto;
    border: none;
}

.book-area h1 {
    text-align: center;
}

.books-card-area {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 112px;
    flex-wrap: wrap;
}

.card-on-homepage {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 345px;
    height: 532px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.card-on-homepage img {
    width: 204px;
    height: 302px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.img-card-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
        gap: 10px;
        isolation: isolate;
        width: 345px;
        height: 345px;
    }

.img-card-wrapper img{
    width: 204px;
    height: 302px;
    object-fit: cover;
}

.title-and-area {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 16px 16px 16px 16px;
    width: 345px;
    height: 64px;
    border-radius: 4px 4px 0px 0px;
}

.author {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px;
    width: 345px;
    height: 59px;
    border-radius: 4px 4px 0px 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 133.4%;
}

.new-in-bookshare-title{
    margin-bottom: 30px;
    margin-top: 50px;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    gap: 8px;
    width: 345px;
    height: 64px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 22px;
    /* identical to box height, or 169% */

    letter-spacing: 0.46px;
    text-transform: uppercase;

    /* Light/Primary/Main */

    color: #1976D2;
}

.title-and-area h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 133.4%;
}

.title-and-area h4 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 133.4%;
    /* identical to box height, or 27px */
    text-align: right;
    font-variant: small-caps;
    color: #5BC49C;
}

.raiting-and-button {
    display: flex;
    justify-content: space-around;
}

.show-more-books-btn {
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
    margin-top: 40px;
}



@media screen and (max-width: 540px) {

    .search-area{
        display: block;
        padding: 10px;
        padding-top: 30px;
        }

   .images{
    display: none;
   }

   .search{
    width: 95vw;
   }

}

@media screen and (max-width: 900px){

    .card-on-homepage{
        display: none;
    }

}


@media screen and (max-width: 1024px) {
    .search h1{
        font-size: 20px;
    }
    .search p {
        font-size: 14px;
    }

    .search-area{
        gap: 0;
        height: fit-content;
        padding: 3%;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .new-in-bookshare-title{
        font-size: 20px;
    }

    .search{
        gap: 0px;
    }

    .books-card-area{
        gap: 20px;
    }
    

    .images img.third-book{
        left: -30px;
    }

    .images img.first-book{
        left: 50px;
    }

    .show-more-books-btn {
        width: 100vw;
        justify-content: center;
    }

    .images img{
        width: 160px;
    }

    .images img.second-book{
        right: 30px;
    }

}

@media screen and (min-width: 1024px) {

    .search-area{
        padding-top: 30px;
    }

    .search h1{
        font-size: 48px;
    }

    .search p{
        font-size: 24px;
    }
}

@media screen and (min-width: 1200px) {
    .search-area{
        padding-top: 100px;
    }
}

@media screen and (max-width: 1300px){

    .images img.third-book{
        display: none;
    }

}