.card-on-lend {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 345px;
    height: 532px;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 1px 3px rgb(0 0 0 / 12%);
    border-radius: 4px;
}

.img-card-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    isolation: isolate;
    width: 345px;
    height: 345px;
}

.title-and-area {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 16px 16px 16px 16px;
    width: 345px;
    height: 64px;
    border-radius: 4px 4px 0px 0px;
}

.author {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px;
    width: 345px;
    height: 59px;
    border-radius: 4px 4px 0px 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 133.4%;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 8px;
    gap: 8px;
    width: 345px;
    height: 64px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 22px;
    letter-spacing: 0.46px;
    text-transform: uppercase;
    color: #1976D2;
}

.buttons span {
    color: black;
}