.main-lend-section {
    margin: 0px auto;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 130px;
    gap: 50px;
}

.lent-card-section {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    max-width: 1440px;
}