.login-page-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40vw;
    min-height: 300px;
    max-height: 400px;
    background: white;
    padding: 5vw;
}

@media screen and (max-width: 900px){
    .login-page-panel{
        width: 90vw;
        margin: 0 auto;
    }
}