.nav-container{
    width: 100vw;
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 40px;
    background: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    margin: 0;
}

.nav-link{
    margin-left: 30px;
    font-size: 18px;
    font-family: Roboto, sans-serif;
}

.navigation-pages-links{
    display: flex;
    align-items: center;
}

.signin-signup-signout-links{
    display: flex;    
}

.active{
    text-decoration: underline;
}

.container-fluid{
    padding: 0;
}

.logout-button{
    border: none;
    background: none;
    color: rgb(101, 101, 101);
    font-size: 18px;
    font-family: 'Roboto';
}

.logo {
    width: 60px;
    height: 60px ; 
}

@media only screen and (max-width: 621px) {
   .navigation-pages-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
   .nav-link {
    font-size: 30px;
    margin-left: 0px;
   }
   .logo {
    width: 100px;
    height: 100px;
   }
   .signin-signup-signout-links {
    gap: 20px;
   }
    
}