.nav-container{
    width: 100vw;
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 40px;
    background: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    margin: 0;
    margin-bottom: 50px;
    position: absolute;
    top: 5px;
    
}

.nav-link{
    margin-left: 30px;
    font-size: 18px;
    font-family: Roboto, sans-serif;
}

.navigation-pages-links{
    display: flex;
    align-items: center;
}

.signin-signup-signout-links{
    display: flex;    
}

.active{
    text-decoration: underline;
}

.container-fluid{
    padding: 0;
}

.logout-button{
    border: none;
    background: none;
    color: rgb(101, 101, 101);
    font-size: 18px;
    font-family: 'Roboto';
}

@media screen and (max-width: 414px){
    .nav-container{
        position: relative;
        padding: 0;
        margin: 0;
    }

    .search{
        padding: 10px;
    }

    .nav-link{
        font-size: 14px;
        align-self: flex-start;
        margin: 10px;
    }

    .logo{
        display: none;
    }

    .navigation-pages-links{
        display: flex;
        justify-content: space-between;
    }
}