.card-myBooksPage-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.add-to-library-button{
    display: flex;
    justify-content: flex-end;
}

.close-button-container{
    display: flex;
    justify-content: flex-end;
}

