.my-books-page-container{
    padding: 90px;
}

.title-and-search-container{
    display: flex;
    margin-bottom: 40px;
    justify-content: space-between;
}

.books-in-your-library-title{
    font-family: sans-serif;
    font-size: 24px;
}

.card{
    width: 100px;
    height: 100px;
}



