.book-details-mobile-container{
    width: 100vw;
    padding: 7vw;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.book-details-mobile-container img{
    width: 150px;
    align-self: center;
}

.cover-background{
    background: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
}

.book-details-mobile-title{
    font-size: 18px;
    font-weight: 600;
}

.book-details-mobile-author{
    margin-bottom: 10px;
}

.book-details-mobile-rating{
    margin-top: 10px;
}

@media screen and (min-width: 1200px){

    .book-details-mobile-container{
        margin-top: 70px;
    }

    .book-details-mobile-container img{
        width: 300px;
        align-self: center;
    }
    

}