.register-page-container{
    width: 100vw;
    height: 100vh;
}

.register-form-container {
    width: 40vw;
    height: 490px;
    background-color: #FFFFFF;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.register-form-inputs {
    display: flex;
    flex-direction: column;
    width: 30vw;
}

.register-page-input {
    width: 35vw;
}

.singin-text-button {
    border: 0;
    background-color: white;
    color: green;
}


.sign-up-title h2{
    font-size: 20px;
}

@media screen and (max-width: 600px){
    .register-form-container{
        width: 90vw;
    }
}