.register-page-container{
    width: 100vw;
    height: 100vh;
}

.register-form-container {
    width: 544px;
    height: 490px;
    background-color: #FFFFFF;
    gap: 8px;
    display: flex;
    flex-direction: column;
}

.register-form-inputs {
    display: flex;
    flex-direction: column;
}

.register-form-input {
    width: 415px;
}